<div id="company-details-wrapper">
    <div id="company-details">
        <div id="logo">
            <a href="http://www.epam.com" target="_blank">
                <img src="@Url.Content("~/Content/images/epam.png")" alt="epam"/>
            </a>
        </div>
        <p>
            © 1993-2012. EPAM Systems. All Rights Reserved.</p>
        <p>
            Minsk office, Nezavisimosti, 186, Belarus, Office phone: +375 (17) 210-1662</p>
    </div>
</div>
