<div id="footer">
    <div id="banners">
        <div class="outer-center">
            <div class="inner-center">
                <div class="banner">
                    <a href="http://www.akavita.by" target="_blank">
                        <img class="banner-image" src="@Url.Content("~/Content/images/akavita.bmp")" alt="Akavita"/>
                    </a>
                </div>
                <div class="banner">
                    <a href="http://www.open.by" target="_blank">
                        <img class="banner-image" src="@Url.Content("~/Content/images/open.bmp")" alt="open.by"/>
                    </a>
                </div>
                <div class="banner">
                    <a href="http://www.rambler.ru" target="_blank">
                        <img class="banner-image" src="@Url.Content("~/Content/images/top100.gif")" alt="Rambler"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
