<ul id="navigation">
    <li><a href="@Url.Action("Index", "Home")">Main</a></li>
    <li><a href="@Url.Action("About", "Home")">About</a></li>
    <li><a href="@Url.Action("Index", "Girls")">List</a></li>
    <li><a href="@Url.Action("Index", "News")">News</a></li>
    <li><a href="#">Menu 1</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 2</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 3</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 4</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 5</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 6</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 7</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
    <li><a href="#">Menu 8</a>
        <ul>
            <li><a href="#">Sub menu item 1</a></li>
            <li><a href="#">Sub menu item 2</a></li>
            <li><a href="#">Sub menu item 3</a></li></ul>
    </li>
</ul>
