@model Task.Web.Models.AccountModels.RegisterModel
@{
    ViewBag.Title = "Admin";
}
<div>
    You must configure the administrator account before the application start
</div>
<div>
@using (Html.BeginForm("AdminSetup", "Account"))
{
    @Html.EditorForModel()
    <div class="text-center">
        <input type="submit" class="button" value="Register" />
        <input type="button" id="button-cancel" class="button" value="Cancel" />
    </div>
}
</div>