@model Task.Web.Models.AccountModels.LogOnModel
@{
    ViewBag.Title = "Log On";
}
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <div class="text-center">
        <input type="submit" class="button" value="Log" />
        <input type="button" id="button-cancel" class="button" value="Cancel" />
    </div>
}
