@model Task.Web.Models.AccountModels.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div>
@using (Html.BeginForm("Register", "Account"))
{
    @Html.EditorForModel()
    <div class="text-center">
        <input type="submit" class="button" value="Register" />
        <input type="button" id="button-cancel" class="button" value="Cancel" />
    </div>
}
</div>