@model Task.DALModels.Girl
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Girls"))
{
    <div class="text-center">
        @Html.ValidationSummary(true)
        <h1>
            Create Girl</h1>
    </div>
    @Html.EditorForModel()
    <div class="text-center">
        <input type="submit" class="button" value="Create" />
        <input type="button" class="button" value="Cancel" onclick="goToPage('@Url.Action("Index", "Girls")')" />
    </div>
}