@model Task.DALModels.News
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "News"))
{
    <div class="text-center">
        @Html.ValidationSummary(true)
        <h1>
            Create News</h1>
    </div>
    @Html.EditorForModel()
    <div class="text-center">
        <input type="submit" class="button" value="Create" />
        <input type="button" id="news-button-cancel" class="button" value="Cancel" />
    </div>
}
