@{
    ViewBag.Title = "Forbidden";
    Layout = null;
}
<html>
<head>
    <title></title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body class="error-body">
    <div>
        <h1>
            Error @Response.StatusCode</h1>
        <div class="outer-center">
            <div class="inner-center">
                <img src="@Url.Content("~/Content/images/notfound.png")" alt="Error" />
            </div>
        </div>
        <div class="error-message text-center clear">
            <h2>
                Forbidden. You can go back to @Html.ActionLink("Main Page", "Index", "Home")</h2>
        </div>
    </div>
</body>
</html>
